@using System.Linq
@model BookRecommender.DataManipulation.AdditionalSparqlData

@if(Model.HasData()){
<div class="panel-group" id="accordion">
  @if(Model.Labels != null && Model.Labels.Count > 0){
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
      <h4 class="panel-title">
        <a>Labels</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
          @foreach (var label in Model.Labels){
          <p>Label(@label.Item2): <strong>@label.Item1</strong></p>
          }   
      </div>
    </div>
  </div>
  }

  @if(Model.Descriptions != null && Model.Descriptions.Count > 0){
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
      <h4 class="panel-title">
        <a>Descriptions</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
          @foreach(var description in Model.Descriptions){
          <p>Description(@description.Item2): <strong>@description.Item1</strong></p>
          }
      </div>
    </div>
  </div>
  }


  @if(Model.WikiPages != null && Model.WikiPages.Count > 0){
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
      <h4 class="panel-title">
        <a >Wikipedia pages</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
          @foreach (var wikipage in Model.WikiPages.Select(p => Uri.UnescapeDataString(p))){
          <p><a href="@wikipage">@wikipage</a></p>
          }   
      </div>
    </div>
  </div>
  }

  @if(Model.Properties != null && Model.Properties.Count > 0){
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
      <h4 class="panel-title">
        <a>Properties</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
          @foreach(var property in Model.Properties){
          var value = string.IsNullOrEmpty(property.Item4)?property.Item2:property.Item4;
          @if(value.StartsWith("http")||value.StartsWith("www")){
              var shortend = value.Substring(0,Math.Min(50,value.Length)) + "...";
              <p>@property.Item3: <strong><a href ="@value">@shortend</a></strong></p>
          } else {
              <p>@property.Item3: <strong>@value</strong></p>
          }
          }
          @if(!string.IsNullOrEmpty(Model.DateModified)){
              <p>DateModified: <strong>@Model.DateModified</strong></p>
          }
      </div>
    </div>
  </div>
  }
</div>
}