@using System.Linq
@model List<BookRecommender.Models.Recommendation>

@if(Model.Count <= 6){
    <style>
        .rec-container{
            border: 1px solid;
            border-radius: 4px;
            background-color:#f5f5f5;
            border-color: #ddd;
            margin-bottom: 10px;
            margin-left: 5px;
            margin-right: 5px;
            padding: 5px;
            text-align: center;
        }
    </style>
    <script>
        $('img.dynamic').each(function(){
            var item = this;
            $.ajax({
                    type: "GET",
                    url: "/Ajax/DynamicImage?entityUri=" + $(this).data('uri'),
                    datatype: "html",
                    success: function (data) {
                        $(item).attr('src', data);
                    }
                })
        });
    </script>

    <div class="container-fluid" style="padding-left:0; padding-right:0; margin: -5px; padding-top: 5px;">
        @foreach(var recommendation in Model){
        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-left:0; padding-right:0;">
            <div class="container-fluid rec-container" style="height: 200px">
                <a href="/Book/Detail/@recommendation.Book.BookId">
                    <h3 style="margin:5px">@recommendation.Book.NameEn</h3>
                </a>

                <div class="col-xs-4 text-center" style="padding:0">
                    <img class="img-responsive center-block dynamic increased-padding" style="max-height: 120px;" src="/images/loading.svg" data-uri="@recommendation.Book.Uri">
                </div>

                <div class="col-xs-8" style="padding">
                    @if(recommendation.Authors.Count() > 0){
                        @if(recommendation.Authors.Count() > 1){
                    <p> <strong>Authors: </strong></p>
                        } else {
                    <p> <strong>Author: </strong></p>
                        }
                    @foreach (var author in recommendation.Authors){
                    <p><a href="/Author/Detail/@author.AuthorId"> @author.GetNameEn() </a></p>
                    } }
                    @if (recommendation.Genres.Count() > 0){
                        @if(recommendation.Genres.Count() > 1){
                    <p> <strong>Genres:</strong> @string.Join(", ", recommendation.Genres.Select(g => g.NameEn).ToArray())</p>
                        } else {
                    <p> <strong>Genre:</strong> @recommendation.Genres.First().NameEn</p>
                        }
                    }
                    @if(recommendation.RecommendationReason != null){
                    <p>@recommendation.RecommendationReason</p>
                    }
                </div>
            </div>
        </div>
        }
    </div>
}