@model BookRecommender.Models.AuthorDetail 
<h2>@Model.Author.GetNameEn()</h2>
<div class="container-fluid">
    <div class="col-sm-8">
        @if(!string.IsNullOrEmpty(Model.Author.Description)){
            <p>@Model.Author.Description</p>
        }
        @if(Model.Books.Count() > 0){
        <p> <strong>Books: </strong></p>
        @foreach (var book in Model.Books){
        <p><a href="/Book/Detail/@book.BookId"> @book.GetNameEn() </a></p>
        } }
    </div>
    <div class="col-sm-4">
        <div class="row">
            <img class="img-responsive" src="@Model.Author.TryToGetImgUrl()">
        </div>
    </div>
</div>

<hr>
<!--
<p><strong>Czech name:</strong> @Model.Author.NameCs</p>
<p><strong>Uri:</strong><a href="@Model.Author.Uri">@Model.Author.Uri</a></p>-->

@{ await Html.RenderPartialAsync("AdditionalSparqlData", @Model.AdditionalData); }
