@model BookRecommender.Models.AuthorViewModels.AuthorDetail 

@{
    ViewData["Title"] = "Author detail";
}

<h2>@Model.Author.GetNameEn()</h2>
<div class="container-fluid">
    <div class="col-sm-8">
        @if(!string.IsNullOrEmpty(Model.Author.Description)){
            <p>@Model.Author.Description</p>
        }
        @if(Model.Books.Count() > 0){
        <p> <strong>Books: </strong></p>
        @foreach (var book in Model.Books){
        <p><a href="/Book/Detail/@book.BookId"> @book.GetNameEn()</a></p>
        } }
    </div>
    <div class="col-sm-4 modal-img" data-toggle="modal" data-target="#myModal">
        <img class="img-responsive center-block dynamic increased-padding" src="/images/loading.svg" data-uri="@Model.Author.Uri">
    </div>
</div>

<!--<hr>
<p><strong>Czech name:</strong> @Model.Author.NameCs</p>
<p><strong>Uri:</strong><a href="@Model.Author.Uri">@Model.Author.Uri</a></p>-->

<hr>

<div id="additionalData" data-uri="@Model.Author.Uri">
    <img class="center-block" style="width: 150px" src="/images/loading.svg">
</div>

<div id="myModal" class="modal fade" role="dialog"  tabindex='-1'>
    <span class="close" data-dismiss="modal">&times;</span>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <img class="img-responsive dynamic center-block" data-uri="@Model.Author.Uri">
                </div>
            </div>
        </div>
    </div>
</div>