@model BookRecommender.Models.BookDetail

<div class="container-fluid">
    <div class="col-sm-8">
        <div class="row">
            <h2>@Model.Book.GetNameEn()</h2>
        </div>
        @if(!string.IsNullOrEmpty(Model.Book.Description)){
            <p>@Model.Book.Description</p>
        }
        @if(Model.Authors.Count() > 0){
            @if(Model.Authors.Count() > 1){
        <p> <strong>Authors: </strong></p>
            } else {
        <p> <strong>Author: </strong></p>
            }
        @foreach (var author in Model.Authors){
        <p><a href="/Author/Detail/@author.AuthorId"> @author.GetNameEn() </a></p>
        } }
        @if (Model.Genres.Count() > 0){
            @if(Model.Genres.Count() > 1){
        <p> <strong>Genres:</strong> @string.Join(", ", Model.Genres.Select(g => g.NameEn).ToArray())</p>
            } else {
        <p> <strong>Genre:</strong> @Model.Genres.First().NameEn</p>
            }
        }
        @if (Model.Characters.Count() > 0){
        <p> <strong>Characters:</strong> @string.Join(", ", Model.Characters.Select(c => c.NameEn).ToArray())</p>
        }
        @if (Model.Tags.Count() > 0){
            var tagsSortByScoreDesc = Model.Tags.OrderByDescending(t => t.Score);
        <p> <strong>Tags:</strong> @string.Join(", ", Model.Tags.Select(t => t.Value).ToArray())</p>
        }
    </div>
    <div class="col-sm-4">
        <div class="row">
            <h3>Score</h3>
        </div>
        <div class="row">
            <img class="img-responsive dynamic" data-uri="@Model.Book.Uri">
        </div>
    </div>
</div>



<!--<hr>
<p><strong>Czech name:</strong> @Model.Book.NameCs</p>
<p><strong>Uri:</strong><a href="@Model.Book.Uri">@Model.Book.Uri</a></p>-->

<hr>

<div id="additionalData" data-uri="@Model.Book.Uri">
</div>

<script>
$(function(){
    $(window).on('load', function() {
        $.ajax({
            type: "GET",
            url: "/Ajax/SparqlData?entityUri=" + $('#additionalData').data('uri'),
            datatype: "html",
            success: function (data) {
                $('#additionalData').html(data);
            }
        })
    });
});


$('img.dynamic').each(function(){
    var item = this;
    $.ajax({
            type: "GET",
            url: "/Ajax/DynamicImage?entityUri=" + $(this).data('uri'),
            datatype: "html",
            success: function (data) {
                $(item).attr('src', data);
            }
        })
});
</script>